
.food_card_container {
    width: 100%;
    display: block;
    padding: 50px;

}

.food_card_separator {
    padding: 10px;
    color: black;
    font-family: "-apple-system";
    font-size: 20px;
}

.food_card {
    display: inline-block;
    box-shadow: 0 4px 4px 0 grey;
    margin: 1.8em;
    transition: 0.3s;
    border-radius: 5px;
    width: 20%;
    padding: 10px;
    background: #ffffff;

}


.food_card_img_border {
    width: 100%;
    overflow: hidden;
}


.food_card_img {
    width:99%;
    height: auto;
}


.food_card_info_box {
    float: left;
    width: 300px;
    height: 60px;

}

.order_popup {
    color: black;
    position: fixed;
    top: 200px;
    right: 10px;
    max-width: 225px;
    min-width: 225px;
    overflow-y: scroll;
    opacity: 0.7;
    box-shadow: 0 1px 4px 0;
    transition: 0.3s;
    border-radius: 5px;
}

.order_list {
    display: block;
}

ul.popup_box_list li {
    display: table-cell;
    max-width: 70px;
    min-width: 70px;
    background-color: #fff3cd;
    font-family: -apple-system;
    text-align: center;
}

ul.food_button_box_list li {
    display: table-cell;
    width: 33.33%;
    /*half of food_card_info_box*/
    height: 30px;
    font-family: -apple-system;
    text-align: center;
}

ul.food_info_box_list li {
    display: table-cell;
    color: white;
    width: 150px;
        /*half of food_card_info_box*/
    height:30px;
    background-color: black;
    font-family: -apple-system;
    text-align: center;
}


button.noOfItems {


    display: block;
    color: black;
    background-color: #9c240d;
    text-align: center;
    cursor: pointer;
}


.block {
  display: block;
  width:99%;
  border-radius:5px;
  background-color: #C00000;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align:center;

}

.block:hover {
  background-color: #800000;
  color: white;
}

/*.button {*/
    /*display: block;*/
    /*color: black;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
/*}*/

/*.button:after {*/
    /*content: "";*/
    /*clear: both;*/
    /*display: table;*/
/*}*/

/*.button button:hover {*/
    /*background-color: #ff9933;*/
/*}*/

