.main_container {
    width: 2000px;
    display: inline-block;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    overflow-x: scroll;

    z-index: -4;
}

.food_card_main_container {
    padding-top: 175px;
}

.food_card_container {
    width: 100%;
    display: block;

}

.table_code_input {
    height: 50px;
    width: 400px;
    position: absolute;
    transition: .5s ease;
    top: 75%;
    left: 100%;
}

.welcome_message {
    position: absolute;
    left: 90%;
    font-size: 100%
}

.welcome_message_2 {
    position: absolute;
    left: 110%;
    font-size: 100%
}


.main_image {
    border: 2px solid black;
    padding: 25px;
    background: url('../img/Bg_img.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.WelcomeButton {
    position: absolute;
    top: 110%;
    left: 110%;
    -moz-box-shadow: inset 3px 0px 50px -50px #f5978e;
    -webkit-box-shadow: inset 3px 0px 50px -50px #f5978e;
    box-shadow: inset 3px 0px 50px -50px #f5978e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f', GradientType=0);
    background-color: #f24537;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 11px 54px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #810e05;
    height: 100px;
    width: 300px;

}

.WelcomeButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background: -moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background: -webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background: -o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537', GradientType=0);
    background-color: #c62d1f;
}

.WelcomeButton:active {
    position: absolute;
    top: 120%;
    left: 110%;
}


/*
.WelcomeButton {
    height: 50px;
    width: 100px;
    position: absolute;
    transition: .5s ease;
    top: 40%;
    left: 50%;
    background-color: #f44336;
}

.text {
    height: 75px;
    width: 250px;
}
*/
.food_card_separator {
    z-index: -1;
    color: black;
    font-family: "-apple-system";
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.food_card {
    display: inline-block;

    box-shadow: 0 4px 4px 0 grey;
    margin: 1.8em;
    transition: 0.3s;
    border-radius: 5px;
    width: 325px;
    padding: 10px;
    background: #ffffff;
    z-index: -2;

}


.food_card_img_border {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    text-align: center;

}

.food_card_img {
    width: 99%;
    height: auto;
}


.food_card_info_box {
    float: left;
    width: 300px;
    height: 60px;

}

.shortcut_anchor {
    top: 200px;
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";

}


button.noOfItems {


    display: block;
    color: black;
    background-color: #9c240d;
    text-align: center;
    cursor: pointer;
}


.block {
    display: block;
    width: 99%;
    border-radius: 5px;
    background-color: #C00000;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

}

.block:hover {
    background-color: #800000;
    color: white;
}


p {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

a {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

h1, h2, h3 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    text-align: center;
    color: #C00000;
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #C00000;
    color: white;
}

#tabs_header {
    position: fixed;
    top: 100px;
    text-align: center;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 900%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0%;
    margin-left: 0px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}


.popup .show {
    visibility: visible;
}


h1 {
    position: relative;
    margin-top: 20px;
}

h1.separator {
    margin-top: 50px;
    z-index: -1;
}

h1.separator:before {
    content: "";
    display: block;
    border-top: solid 2px #C00000;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 5;
}


h1.separator span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: -1;
}

/*basket {*/
/*position: fixed;*/
/*right: 0;*/
/*margin-top: 0;*/
/*height: 100%;*/
/*width: 20%;*/
/*background-color: black;*/
/*}*/

top_header {
    width: 300px;
    height: 300px;
}

banner {
    width: 215px;
    height: 175px
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #807234;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9c250e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9c240d;
}


p {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

a {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

h1, h2, h3 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    text-align: center;
    color: #C00000;
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #C00000;
    color: white;
}

#tabs_header {

}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 900%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0%;
    margin-left: 0px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}


.popup .show {
    visibility: visible;
}


h1 {
    position: relative;
    margin-top: 20px;
}

h1.separator {
    margin-top: 0;
}

h1.separator:before {
    content: "";
    display: block;
    border-top: solid 2px #C00000;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}


h1.separator span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 5;
}

/*basket {*/
/*position: fixed;*/
/*right: 0;*/
/*margin-top: 0;*/
/*height: 100%;*/
/*width: 20%;*/
/*background-color: black;*/

/*}*/

top_header {

    width: 300px;
    height: 300px;
}

banner {
    width: 215px;
    height: 175px
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #807234;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9c250e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9c240d;
}

#popup_div {
    position: absolute;
}

#popup_div_header {

}

.cart_button {
    position: fixed;
    color: black;
    top: 100px;

}

.card_desc_button {
    position: absolute;
    right: 3%;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: #9c0d0a;
    color: white;
    display: inline-flex;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.food_allergy_buttons {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
    left: 3%;
    font-size: 20px;
    font-weight: bold;
    background-color: #479c09;
    color: white;
    cursor: pointer;
}

.food_allergy_info_content {
    position: fixed;
    top: 235px;
    background-color: #fefefe;
    width: 300px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    display: none;
    border-radius: 5px;


}

.food_desc_content {
    position: fixed;
    top: 235px;
    background-color: #fefefe;
    width: 300px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    display: none;
    border-radius: 5px;


}

.food_desc_content_header {
    padding: 2px 16px;
    background-color: #800000;
    color: white;
}

.food_desc_content_close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.food_desc_content_body {
    padding: 2px 16px;
}

.food_allergy_info_content_close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.food_allergy_info_content_footer {
    padding: 2px 16px;
    background-color: #800000;
    color: white;
}

.food_allergy_info_content_close:hover,
.food_allergy_info_content_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.food_allergy_info_content_header {
    padding: 2px 16px;
    background-color: #800000;
    color: white;
}

.background_welcome {
    width: 100%;
    height: 100%;
}

.food_allergy_info_content_body {
    padding: 2px 16px;
}

.food_allergy_info_content_footer {
    padding: 2px 16px;
    background-color: #800000;
    color: white;
}
