
body, html {
    height: 100%;
}

.welcome_bg_image {
    /* The image used */
    margin-top: 100px;
    background-image: url(../img/wallpaper.jpg);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

}

.welcome_title {
    opacity: 0.8;
    text-align: center;
    position: relative;
}

.welcome_span {
    font-size: 100px;
    color: lightgrey;
    text-shadow: 1px 3px darkred, -1px -1px darkred;
    font-family: sans-serif;
    -webkit-text-stroke: 2px white;

}


@supports (-webkit-text-stroke: 4px black) {
    span {
        color: transparent;
        text-shadow: none;
    }
}

.table_code_input {
    text-align: center;
    border-radius: 2px;
    font-size: 30px;
    height: auto;
    opacity: 0.7;
    width: auto;
    background-color: black;
    color: white;

}

.welcome_container {
    border-style: none;
    width: 500px;
    height: 150px;
    padding-top:200px;
    position: relative;
    margin: 0 auto;

}

.input_code {
    width: 400px;
    height: 70px;
    align-items: center;
    align-content: center;
    margin: 0 auto;

}

.submit_button {
    width:140px;
    position: relative;
    margin: 0 auto;

}

.welcome_button {
    opacity: 0.7;
    position: absolute;

    background-color: black;
    font-size:30px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    height: 70px;
    width: 150px;

}

.welcome_button:hover {
    text-color: darkred;
    border-color: lightgrey;
    color: lightgrey;
}

.welcome_button:active {
    position: absolute;

}




