{% extends 'menu/templates/base.html' %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src="{% static 'waiter/js/insert_stuff.js' %}"></script>
    <script src="{% static 'waiter/js/waiter_ajax.js' %}"></script>
    <link rel="stylesheet" href="{% static 'waiter/css/waiter_insert.css' %}" type="text/css"/>

    <h1>Insert Food and Drink Items Into the Waiter Page</h1>

<h2>Add a food Category</h2>
    <form onsubmit="return false">
        {% csrf_token %}
        Enter food category name:
        <input type='text' aria-label="enter name:" id="food_category_name"/>
        <button class="add_food_category" onclick="add_food_category()">Submit</button>
    </form>


    <h2>Insert a food item</h2>
    {# //Food( _id, name,price, category_id , allergy: MtM(FoodAllergies) )#}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ food_form.as_p }}
        <button type="submit">Add Food</button>
    </form>


    <h2>Add Food Information</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ food_information_form.as_p }}
        <button type="submit">Add Information</button>
    </form>

    <form onsubmit="return false">
        {% csrf_token %}
        <h2>Add a Table</h2>
        Enter table code and table number: <br>
        <input type='text' aria-label="enter table_code:" id="table_id"/>
        <input type='text' aria-label="enter table number:" id="table_number"/>

        <button class="add_table" onclick="add_table()">Submit</button>
    </form>

<form onsubmit="return false">
        {% csrf_token %}
        <h2>Add an Order</h2>
        Enter order id: <br>
        <input type='number' aria-label="food_id:" id="order_food_id"/><br>

        Enter customer id: <br>
        <input type='number' aria-label="customer_id:" id="order_customer_id"/><br>
        Enter date time local: <br>
        <input type='datetime-local' aria-label="order_time:" id="order_time"/>
        <button class="add_order" onclick="add_order()">Submit</button>
    </form>

{% endblock %}
