<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<link rel="stylesheet" href="(% static 'waiter/css/Waiterver2.css' %)" type="text/css"/>
<link rel="stylesheet" href="(% static 'waiter/css/bootstrap-grid.css' %)" type="text/css"/>
<link rel="stylesheet" href="(% static 'waiter/css/bootstrap-reboot.css' %)" type="text/css"/>
<link rel="stylesheet" href="{% static 'waiter/css/bootstrap.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'waiter/css/waitercard.css' %}" type="text/css"/>
<script src="{% static 'waiter/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'waiter/js/waitercard.js' %}"></script>
<script src="{% static 'waiter/js/bootstrap.js' %}"></script>
<script src="{% static 'waiter/js/waiter_ajax.js' %}"></script>


<div class="tab">
    <button class="tablinks" onclick="tab(event,'pending')">Pending Orders</button>
    <button class="tablinks" onclick="tab(event,'kitchen')">Kitchen</button>
    <button class="tablinks" onclick="tab(event,'ready')">Order Ready</button>
    <button class="tablinks" onclick="tab(event,'archive')">Archive</button>
</div>
<form onsubmit="return false">
    {% csrf_token %}

<!-- Tab 1 -->
<div id="pending" class="tabcontent">


    <div class="panel-group" id="pending_list">


    </div>

</div>

<!-- Tab 2  -->
<div id="kitchen" class="tabcontent">
    <div class="panel-group" id="kitchen_list">

    </div>

</div>

<!-- Tab 3 -->
<div id="ready" class="tabcontent">

    <div class="panel-group" id="ready_list">

    </div>

</div>

<!-- Tab 4 -->
<div id="archive" class="tabcontent">

    <div class="panel-group" id="archive_list">

    </div>

</div>

</form>
<script>
    load_data({{ table_orders |safe }})
</script>

</body>
</html>