<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<link rel="stylesheet" href="../static/waiter/css/Waiterver2.css" type="text/css"/>
<link rel="stylesheet" href="../static/waiter/css/bootstrap-grid.css" type="text/css"/>
<link rel="stylesheet" href="../static/waiter/css/bootstrap-reboot.css" type="text/css"/>
<link rel="stylesheet" href="../static/waiter/css/bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="../static/waiter/css/waitercard.css" type="text/css"/>
<script src="../static/waiter/js/bootstrap.bundle.js"></script>
<script src="../static/waiter/js/waitercard.js"></script>
<script src="../static/waiter/js/bootstrap.js"></script>




<div class="tab">
    <button class="tablinks" onclick="tab(event,'pending')">Pending Orders</button>
    <button class="tablinks" onclick="tab(event,'kitchen')">Kitchen</button>
    <button class="tablinks" onclick="tab(event,'ready')">Order Ready</button>
    <button class="tablinks" onclick="tab(event,'archive')">Archive</button>
</div>

<!-- Tab 1 -->
<div id="pending" class="tabcontent">


    <div class="panel-group" id="pendinglist">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#pendinglist" href="#pending1">Order 1</a>
                </h4>
            </div>
            <div id="pending1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="card text-center border border-secondary">
                        <div class="card-body" style="">
                            <h5 class="border-bottom border-dark">OrderNo</h5>
                            <h5 class="card-title border-bottom border-dark">TableNo</h5>
                            <ol class="text-left">
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                            <p class="text-monospace">Comments in the order would go here<br>~~<br>~~<br>~~</p><a class="btn btn-primary w-50" href="#">Confirm</a><!-- Onclick should change status from customer_confirmed to waiter_confirmed --><a class="btn w-50 btn-secondary" href="#">Cancel</a> <!-- Change status to waiter_canceled -->
                        </div>
                        <div class="card-footer text-muted">%TIMESTAMP</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#pendinglist" href="#pending2">Order 2</a>
                </h4>
            </div>
            <div id="pending2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="card text-center border border-secondary">
                        <div class="card-body" style="">
                            <h5 class="border-bottom border-dark">OrderNo</h5>
                            <h5 class="card-title border-bottom border-dark">TableNo</h5>
                            <ol class="text-left">
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                            <p class="text-monospace">Comments in the order would go here<br>~~<br>~~<br>~~</p><a class="btn btn-primary w-50" href="#">Confirm</a><!-- Onclick should change status from customer_confirmed to waiter_confirmed --><a class="btn w-50 btn-secondary" href="#">Cancel</a> <!-- Change status to waiter_canceled -->
                        </div>
                        <div class="card-footer text-muted">%TIMESTAMP</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#pendinglist" href="#pending3">Order 3</a>
                </h4>
            </div>
            <div id="pending3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="card text-center border border-secondary">
                        <div class="card-body" style="">
                            <h5 class="border-bottom border-dark">OrderNo</h5>
                            <h5 class="card-title border-bottom border-dark">TableNo</h5>
                            <ol class="text-left">
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                            <p class="text-monospace">Comments in the order would go here<br>~~<br>~~<br>~~</p><a class="btn btn-primary w-50" href="#">Confirm</a><!-- Onclick should change status from customer_confirmed to waiter_confirmed --><a class="btn w-50 btn-secondary" href="#">Cancel</a> <!-- Change status to waiter_canceled -->
                        </div>
                        <div class="card-footer text-muted">%TIMESTAMP</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Tab 2  -->
<div id="kitchen" class="tabcontent">
    <div class="panel-group" id="kitchenlist">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#kitchenlist" href="#kitchen1">Order 11</a>
                </h4>
            </div>
            <div id="kitchen1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="cardkitchen text-center border border-dark">
                        <div class="card-body" style="">
                            <h5 class="border-bottom border-dark">OrderNo</h5>
                            <h5 class="card-title border-bottom border-dark">TableNo</h5>
                            <ol class="text-left">
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                            <p class="text-monospace">Comments in the order would go here<br>~~<br>~~<br>~~</p>
                            <!--<a class="btn btn-primary w-50" href="#">Confirm</a><a class="btn w-50 btn-secondary" href="#">Cancel</a> -->
                        </div>
                        <div class="card-footer text-muted">%TIMESTAMP</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#kitchenlist" href="#kitchen2">Order 22</a>
                </h4>
            </div>
            <div id="kitchen2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="cardkitchen text-center border border-dark">
                        <div class="card-body" style="">
                            <h5 class="border-bottom border-dark">OrderNo</h5>
                            <h5 class="card-title border-bottom border-dark">TableNo</h5>
                            <ol class="text-left">
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                            <p class="text-monospace">Comments in the order would go here<br>~~<br>~~<br>~~</p>
                            <!--<a class="btn btn-primary w-50" href="#">Confirm</a><a class="btn w-50 btn-secondary" href="#">Cancel</a> -->
                        </div>
                        <div class="card-footer text-muted">%TIMESTAMP</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#kitchenlist" href="#kitchen3">Order 33</a>
                </h4>
            </div>
            <div id="kitchen3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="cardkitchen text-center border border-dark">
                        <div class="card-body" style="">
                            <h5 class="border-bottom border-dark">OrderNo</h5>
                            <h5 class="card-title border-bottom border-dark">TableNo</h5>
                            <ol class="text-left">
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                            <p class="text-monospace">Comments in the order would go here<br>~~<br>~~<br>~~</p>
                            <!-- <a class="btn btn-primary w-50" href="#">Confirm</a><a class="btn w-50 btn-secondary" href="#">Cancel</a> -->
                        </div>
                        <div class="card-footer text-muted">%TIMESTAMP</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Tab 3 -->
<div id="ready" class="tabcontent">

    <div class="panel-group" id="readylist">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#readylist" href="#ready1">Order 111</a>
                </h4>
            </div>
            <div id="ready1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="cardready text-center border border-ready">
                        <div class="card-body" style="">
                            <h5 class="border-bottom border-dark">OrderNo</h5>
                            <h5 class="card-title border-bottom border-dark">TableNo</h5>
                            <ol class="text-left">
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                            <p class="text-monospace">Comments in the order would go here<br>~~<br>~~<br>~~</p>
                            <a class="btn btn-primary w-100" href="#">Delivered</a><!-- Delivered Order State -->
                        </div>
                        <div class="card-footer text-muted">%TIMESTAMP</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#readylist" href="#ready2">Order 222</a>
                </h4>
            </div>
            <div id="ready2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="cardready text-center border border-ready">
                        <div class="card-body" style="">
                            <h5 class="border-bottom border-dark">OrderNo</h5>
                            <h5 class="card-title border-bottom border-dark">TableNo</h5>
                            <ol class="text-left">
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                            <p class="text-monospace">Comments in the order would go here<br>~~<br>~~<br>~~</p>
                            <a class="btn btn-primary w-100" href="#">Delivered</a><!-- Delivered Order State -->
                        </div>
                        <div class="card-footer text-muted">%TIMESTAMP</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#readylist" href="#ready3">Order 333</a>
                </h4>
            </div>
            <div id="ready3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="cardready text-center border border-secondary">
                        <div class="card-body" style="">
                            <h5 class="border-bottom border-dark">OrderNo</h5>
                            <h5 class="card-title border-bottom border-dark">TableNo</h5>
                            <ol class="text-left">
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                            <p class="text-monospace">Comments in the order would go here<br>~~<br>~~<br>~~</p>
                            <a class="btn btn-secondary w-100" href="#">Archive</a><!-- Deleted Order State -->
                        </div>
                        <div class="card-footer text-muted">%TIMESTAMP</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Tab 4 -->
<div id="archive" class="tabcontent">

    <div class="panel-group" id="archivelist">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#archivelist" href="#archive1">Order 1111</a>
                </h4>
            </div>
            <div id="archive1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="cardkitchen text-center border border-secondary">
                        <div class="card-body" style="">
                            <h5 class="border-bottom border-dark">OrderNo</h5>
                            <h5 class="card-title border-bottom border-dark">TableNo</h5>
                            <ol class="text-left">
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                            <p class="text-monospace">Comments in the order would go here<br>~~<br>~~<br>~~</p>
                            <!--<a class="btn btn-primary w-50" href="#">Confirm</a><a class="btn w-50 btn-secondary" href="#">Cancel</a> -->
                        </div>
                        <div class="card-footer text-muted">%TIMESTAMP</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#archivelist" href="#archive2">Order 2222</a>
                </h4>
            </div>
            <div id="archive2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="cardkitchen text-center border border-secondary">
                        <div class="card-body" style="">
                            <h5 class="border-bottom border-dark">OrderNo</h5>
                            <h5 class="card-title border-bottom border-dark">TableNo</h5>
                            <ol class="text-left">
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                            <p class="text-monospace">Comments in the order would go here<br>~~<br>~~<br>~~</p>
                            <!--<a class="btn btn-primary w-50" href="#">Confirm</a><a class="btn w-50 btn-secondary" href="#">Cancel</a> -->
                        </div>
                        <div class="card-footer text-muted">%TIMESTAMP</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#archivelist" href="#archive3">Order 3333</a>
                </h4>
            </div>
            <div id="archive3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="cardkitchen text-center border border-secondary">
                        <div class="card-body" style="">
                            <h5 class="border-bottom border-dark">OrderNo</h5>
                            <h5 class="card-title border-bottom border-dark">TableNo</h5>
                            <ol class="text-left">
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                            <p class="text-monospace">Comments in the order would go here<br>~~<br>~~<br>~~</p>
                            <!-- <a class="btn btn-primary w-50" href="#">Confirm</a><a class="btn w-50 btn-secondary" href="#">Cancel</a> -->
                        </div>
                        <div class="card-footer text-muted">%TIMESTAMP</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--
<script>
    function tab(evt, tabname) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabname).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script> -->
</body>
</html>