 .header {
     height: 20%;
 }

.banner{

    background-color: #ffffff;
}
 .image {
     width: 100%;
     padding: 12px;
 }
 .main {
     margin-top:2em;
 }

 .card {
     display: inline-block;
     padding-top: 50px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.51);
     transistion: 0.3;
     width: 31%;
     border-radius: 5px;
     margin: 1em;
     background-color: #ffffff;
 }

 ::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #807234;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9c250e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9c240d;
}

.container {
    padding: 30px 16px;
}

 body {
     background: rgb(236, 236, 236);

 }

 nav ul {
     height:60%;
     width:85%;
     position: relative;
     overflow:hidden;
     overflow-y:scroll;
 }

 li {
     font-size:40px;
 }

 button.cancel {
     float:left;
     width: 50%;
     border: none;
     outline: 0;
     padding: 10px;
     color: white;
     background-color: #9c1816;
     text-align: center;
     cursor: pointer;
     font-size: 18px;
     margin-bottom: 3%;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
 }

button.done{
     float: right;
     width: 50%;
     border: none;
     outline: 0;
     padding: 10px;
     color: white;
     background-color: #000000;
     text-align: center;
     cursor: pointer;
     font-size: 18px;
     margin-bottom: 3%;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
 }


 button.cancel:hover {
    opacity: 0.6;
 }

 button.done:hover {
     opacity: 0.6;
 }

 .center{
    display: block;
  margin-left: auto;
  margin-right: auto;

 }

h4 {
    font-size: 20px;
    font-family: Arial;
    color: brown;
    padding: 10px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
    font-family:Raelway;
    list-style-type: none;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}





