<!DOCTYPE html>
<html>
{% extends 'chef/templates/base.html' %}
{% load staticfiles %}
{% block body %}
    <script src="{% static 'chef/js/kitchen.js' %}"></script>
    <script src="{% static 'chef/js/kitchen_ajax.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <div class="header" id="header">
    </div>

    <div class="main" id="main">
        <form onsubmit="return false">
            {% csrf_token %}
            <div id="card_container">

            </div>
        </form>
    </div>
    <script>
        load_data({{ table_orders |safe }})
    </script>
{% endblock %}

</html>