 .header {
     height: 20%;
 }

 .image {
     width: 100%;
     padding: 12px;
 }
 .main {
     margin-top:2em;
 }
 .card {
     display: inline-block;
     padding-top: 50px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transistion: 0.3;
     width: 30%;
     border-radius: 5px;
     margin: 1em;
     background-color: #9c9c98;
 }

 body {
     background: #ffffff;

 }

 nav ul {
     height:200px;
     width:85%;
 }

 ul {
     font-size: 18px;
     font-family: Arial;
     list-style-type: none;
 }

 nav ul{
     overflow:hidden;
     overflow-y:scroll;
 }

 button.cancel {
     float:left;
     width: 50%;
     border: none;
     outline: 0;
     padding: 10px;
     color: white;
     background-color: #9c1816;
     text-align: center;
     cursor: pointer;
     font-size: 18px;
     margin-bottom: 3%;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
 }

button.done{
     float: right;
     width: 50%;
     border: none;
     outline: 0;
     padding: 10px;
     color: white;
     background-color: #9c6016;
     text-align: center;
     cursor: pointer;
     font-size: 18px;
     margin-bottom: 3%;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
 }


 button.cancel:hover {
    opacity: 0.6;
 }

 button.done:hover {
     opacity: 0.6;
 }

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #807234;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.container {
    padding: 30px 16px;
}