<!DOCTYPE html>
{# Objects expected: #}
{#category_list -- see explanation in load_category_items in menu/js/menu.js#}
<html lang="en">
{% extends 'accounts/templates/base.html' %}
{% load staticfiles %}
{% block body %}
    <script src="{% static 'accounts/js/manager.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

    <link rel="stylesheet" href="{% static 'menu/css/banner.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'accounts/css/manager.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'accounts/css/manager_tab.css' %}" type="text/css"/>

    <div class="main_containter">
        <div class="tabs_header" id="tabs_header">
            <a style="text-decoration:none;" onclick="show_stats()">Statistics</a>
            <a style="text-decoration:none;" onclick="show_account_manager()">Accounts</a>

        </div>
        Weclome Staff
        Page for Statistics
        Page for account management
        <div class="statistics_container" id="statistics_container">
            <div id="profit_time_chart">
                <canvas id="order_chart" width="600" height="400">

                </canvas>
                <div class="graph_options">
                    X-increments:
                    <input name="increments" type="number" placeholder="x_increments" value="30">
                    Time_spread:
                    <input name="time_spread" type="number" placeholder="time_spread" value="1">

                    <select name="time_step">
                        <option value="days">days</option>
                        <option value="minutes">minutes</option>
                        <option value="hours">hours</option>
                        <option value="weeks">weeks</option>
                        <option value="months">months</option>
                    </select>
                    <select name="graph_type">
                        <option value="bar">bar</option>
                        <option value="line">line</option>
                    </select>
                    <button onclick="update_profit_time_chart()">Refresh</button>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        show_chart()
    </script>





{% endblock %}

</html>
{#  <div class="welcome_message_container container">#}
{#            <h2 class="welcome_message_2" style="font-size:60px" >WELCOME TO OAXACA</h2>#}
{#        </div>#}
{#        <input id="table_code" class="table_code_input float-right" placeholder="Please enter your code."> </input>#}
{##}
