{% load static %}

<link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- jquery and whatever else you needed -->

<html lang="en">
{% block head %}
    <meta charset="utf-8">
    <title>Oaxaca Welcom</title>
    <meta name="Example top banner for project pages." content="example banner">
{#    <meta name="MattDaniells" content="banner">#}
    <link rel="stylesheet" href="{% static 'menu/css/banner.css' %}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'menu/js/banner.js' %}"></script>
    <script>
        banner()
    </script>
    <div id="headerContainer">
        <div id="banner" class="banner">
            <div class="links_bar">
                <a href="/accounts/login" id="login_link">Login</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

{% endblock %}
</html>