<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/menu/css/card.css">
</head>
<body>
    <script src="menu.js"></script>

    <div id="add_here">

    </div>
    <script type="text/javascript">
            add_card("http://pluspng.com/img-png/burger-png-hd-burger-png-image-png-image-466.png","burger","20","1");
        </script>
<div class="food_card">

    <div class="food_card_img_border">

        <img class= "food_card_img" src="http://pluspng.com/img-png/burger-png-hd-burger-png-image-png-image-466.png" alt="burger">
    </div>

    <div class="food_card_info_box" >
        <ul id="menu"class = "food_info_box_list">
            <li>HTML</li>
            <li>CSS</li>
        </ul>
    </div>

    <div class="food_card_info_box">

        <div class="buttons">
            <button id="minus_btn" onclick="take_order(-1)">-</button>
            <button>submit</button>
            <button id="plus_btn" onclick="take_order(+1)">+</button>
        </div>

    </div>


</div>


</body>
</html>
