{% extends 'menu/templates/base.html' %}
{% load staticfiles %}
{% block head %}
    THIS IS AN EXAMPLE TO INSERT STUFF INTO THE DATABASE, NOT SURE IF IT WORKS FULLY
    AS I'M NOT DOING HTML OR JAVASCRIPT
{% endblock %}
{% block body %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    {# Food( _id, name )#}
    <form onsubmit="return false">
        {% csrf_token %}
        <br>
        add a food item : <br>
        enter Name: <br>
        <input type='text' aria-label="enter name:" id="food_name"/>
        <button class="add_food" onclick="add_food()">Submit</button>
    </form>

    {#  Table( _id , max_customers, )#}
    <form onsubmit="return false">
        {% csrf_token %}
        <br>
        add a table <br>
        enter max customers: <br>
        <input type='text' aria-label="enter max custmers:" id="table_max_customers"/>
        <button class="add_table" onclick="add_table()">Submit</button>
    </form>

    {# Customer ( _id , name , Table_id)#}
    <form onsubmit="return false">
        {% csrf_token %}
        <br>
        add a customer <br>
        enter name: <br>
        <input type='text' aria-label="enter name:" id="customer_name"/><br>
        enter table id <br>
        <input type="number" aria-label="enter table id: " id="customer_table_id">
        <button class="add_customer" onclick="add_customer()">Submit</button>
    </form>

    {# Order( _id , food_id , Table_id , Customer_id , time )#}
    <form onsubmit="return false">
        {% csrf_token %}
        <br>
        add an order <br>
        enter food id: <br>
        <input type='number' aria-label="food_id:" id="order_food_id"/><br>
        enter table id: <br>
        <input type='number' aria-label="table_id:" id="order_table_id"/><br>
        enter customer id: <br>
        <input type='number' aria-label="customer_id:" id="order_customer_id"/><br>
        enter date time local: <br>
        <input type='datetime-local' aria-label="order_time:" id="order_time"/>
        <button class="add_order" onclick="add_order()">Submit</button>
    </form>
    <script src="{% static 'menu/js/app.js' %}"></script>

{% endblock %}
