<!DOCTYPE html>

{# Objects expected: #}
{#category_list -- see explanation in load_category_items in menu/js/menu.js#}
<html lang="en">

{% extends 'menu/templates/base.html' %}
{% load staticfiles %}

{% block body %}
    <table style="width:100%">
    <td width="80%">
        <script src="{% static 'menu/js/menu.js' %}"></script>
        <script src="{% static 'menu/js/menu_ajax.js' %}"></script>

        <link rel="stylesheet" href="{% static 'menu/css/banner.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'menu/css/style.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'menu/css/menu.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'menu/css/order_basket.css' %}" type="text/css"/>

        <div class="top_header">
            <div class="tabs_header" id="tabs_header">
            </div>
        </div>


        <form onsubmit="return false">
            {% csrf_token %}
            <div class="food_card_main_container">
                <div class="food_card_container" id="categories">

            </div>
            </div>

        </form>

    </td>

    <td width="20%">
    <div id="order_popup" class="order_popup">
        <div class="order_basket_title">
            My Basket:
        </div>
        <div id="basket_item_container" class="container">
        </div>
        <div id="order_total">0.0</div>
        <button id="submit_order" class="basket_submit_button" onclick="submit_order()"></button>
    </div>

    <script type="text/javascript">
        if ({{ user.is_authenticated|yesno:"true,false"}}) {
            user_is_authenticated()
        }
        load_data({{ category_list |safe }});
    </script>
</td>
</table>
{% endblock %}
</html>