<!DOCTYPE html>

{# Objects expected: #}
{#category_list -- see explanation in load_category_items in menu/js/menu.js#}
<html lang="en">

{% extends 'menu/templates/base.html' %}
{% load staticfiles %}

{% block body %}
    <script src="{% static 'menu/js/menu.js' %}"></script>
    <link rel="stylesheet" href="{% static 'menu/css/banner.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'menu/css/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'menu/css/menu.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'menu/css/menu2.css' %}" type="text/css"/>
    <div class="main_container">
        <div class="top_header">
            <div class="tabs_header" id="tabs_header">

            </div>

        </div>

        <form onsubmit="return false">
            {% csrf_token %}
            <div class="food_card_container" id="categories">

            </div>
        </form>
        <td style="width:40%">
            <div id="order_popup" class="order_popup">
                <h3>
                    Order:
                </h3>
                <ul aria-label="order" id="order_list" class="order_list">

                </ul>
                <h4>
                    Total:
                </h4>
                <div id="order_total">0.0</div>
                <button id="submit_order" onclick="submit_order()"></button>
            </div>
            <img src="/media/img/food/cream.jpg" alt="">
            <script type="text/javascript">
                if ({{ user.is_authenticated|yesno:"true,false"}}) {
                    user_is_authenticated()
                }
                load_data({{ category_list |safe }});
            </script>
    </div>

{% endblock %}
</html>