<!DOCTYPE html>

{# Objects expected: #}
{#category_list -- see explanation in load_category_items in menu/js/menu.js#}
<html lang="en">

{% extends 'menu/templates/base.html' %}
{% load staticfiles %}

{% block body %}
    <script src="{% static 'menu/js/welcome_page.js' %}"></script>
    <link rel="stylesheet" href="../static/menu/css/menu.css" type="text/css"/>
    <link rel="stylesheet" href="../static/menu/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="../static/menu/css/banner.css" type="text/css"/>
    <br><br><br><br>
    <br>


    <div id="banner" class="banner">
            <div class="links_bar">
                <a href="/accounts/login/" id="login_link" onclick="login_redirect()">Login</a>
            </div>
        </div>


    <div class="background_welcome">
        <img src="media/img/WelcomePage.png" alt="">
     <div class="main">
        <p class="welcome_message" style="font-size:75px; color:red">WELCOME TO OAXACA</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="media/img/food/cream.jpg" alt="">
        <p class="table_number_message">PLEASE ENTER YOUR TABLE NUMBER: </p>
         <BR>
        <input id="table_code" class="table_code_text" placeholder="PLEASE ENTER YOUR TABLE NUMBER HERE">table code: </input>
        <button class="WelcomeButton" onclick="redirect_user()">Submit</button>

    </div>
    </div>







{% endblock %}
</html>